.header{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 550;
        font-size: 2rem;
        line-height: 1.6;
        letter-spacing: 0.15px;
margin: 2rem;
        color: rgba(44, 14, 14, 0.763);


}
.cell{
    border-left: solid rgba(15, 13, 13, 0.127);
    border-right: solid rgba(15, 13, 13, 0.127);
    height: 2rem;
    border-width: 2px;
}